.sign-up-page-body {
  background-image: url("https://cdn-images-1.medium.com/max/2000/1*Bg4JVDlN2J4j693HHfH_EQ.jpeg");
  width: 100vw;
  height: 100vh;
  filter: blur(2px);
}

.sign-up-page {
  background: rgba(255, 255, 255, 0.8);
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;

  button {
    width: 100%;
    height: 50px;
  }
}

.sign-up-header {
  background: #C5C6C7;
  top: -20px;
  height: 80px;

  h2 {
    vertical-align: middle;
    line-height: 80px;
    text-transform: uppercase;
  }
}

.sign-up-form {
  margin-top: 30px;

  i {
    position: absolute;
    top: 17px;
    left: 25px;
    color: grey;
  }
}
