<div class="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a id="navbar-toggle">Close Menu<i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a routerLink="weather-dashboard">Home <i class="fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a routerLink="settings-dashboard">Settings<i class="fa fa-cog menu-icon fa-2x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#">log out<i class="fas fa-sign-out-alt menu-icon fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>