.home-body {
    li {
      padding: 10px;
    }
    .home-weather-info {
      max-width: 1200px;
      width: 100%;
      background: #ababad;
      border: 1px solid black;
      border-radius: 10px;
      margin: 30px auto auto auto;
    }
  }