h5 {
  font-size: 14px;
  line-height: 30px;
}

p {
  font-size: 12px;
  line-height: 30px;
}

.sub-row-1 {
  height: 60px;
  border-bottom: 1px solid black;
}

.sub-row-2 {
  height: 30px;
}

.day-description-col {
  border-right: 1px solid black;
}